/target/classes/qengine/program/dictionary/Dictionary.class
/target/classes/qengine/program/index/Index.class
/target/classes/qengine/program/Main$1.class
/target/classes/qengine/program/Main.class
/target/classes/qengine/program/MainRDFHandler.class
/target/classes/qengine/program/index/Type.class
